name: Integration

on:
  push:
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4

      - name: Setup go
        uses: actions/setup-go@v2.1.3
        with:
          go-version: '1.16.x'

      - name: Vet
        run: go vet

      - name: Test
        run: go test ./...

  build:
    name: Build
    runs-on: ubuntu-latest
    needs:
      - test
    steps:
      - uses: actions/checkout@v2.3.4

      - name: Setup go
        uses: actions/setup-go@v2.1.3
        with:
          go-version: '1.16.x'

      - name: Build
        run: go build ./...

      - name: Docker
        run: docker build .
