name: Integration

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5

      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"

      - name: Vet
        run: go vet

      - name: Test
        run: go test ./...

  build:
    name: Build
    runs-on: ubuntu-24.04
    needs:
      - test
    steps:
      - uses: actions/checkout@v5

      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"

      - name: Build
        run: go build ./...

      - name: Docker
        run: docker build .

  automerge:
    name: Merge Automatically
    needs: [test, build]
    runs-on: ubuntu-24.04

    permissions:
      pull-requests: write
      contents: write

    steps:
      - name: Obtain Access Token
        id: acces_token
        run: |
          TOKEN="$(npx obtain-github-app-installation-access-token ci ${{ secrets.SYSTEMLI_APP_CREDENTIALS_TOKEN }})"
          echo "token=$TOKEN" >> $GITHUB_OUTPUT

      - name: Merge
        uses: fastify/github-action-merge-dependabot@v3
        with:
          github-token: ${{ steps.acces_token.outputs.token }}
